html, body{
    width: 100vw;
    height: 100vh;
    margin:0;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

#topbar {
    position: fixed;
    z-index: 99;
    padding: 1em 10rem;
    font-family: 'Gamja Flower', cursive;
    font-size: 2rem;
    font-weight: normal;
    width: 100%;
    line-height: 1em;
    left: 0;
}

#menu{
    float: right;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.close{
  float: right;
  width: 32px;
  height: 32px;
    cursor: pointer;
}

.close:before, .close:after {
  float: right;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#first{
    width: 100hw;
    height: 100vh;
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    font-size: 3em;
}

.hover_img {
    position: absolute;
    margin: auto 10rem;
    height: 200px;
    top: 50%;
    transform: translateY(-100px);
}

.hover_img a{
    position: relative;
}

.hover_img a span{
    position: absolute;
    display: none;
    z-index: 99;
}

.hover_img a:hover span{
    display: flex;
}

#helen{
    display: inline-block;
    position: relative;
    z-index: 1;
}

#helen:after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: -10px;
    height: 13px;
    width: 100%;
    z-index: -1;
    background:  #eeaa66;
}

.menuoverlay{
    background-color: bisque;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 100;
    display: none;
    padding: 2em;
    font-size: 3rem;
    font-weight: 700;
}

ul{
    list-style-type: none;
    cursor: pointer;
    max-width: fit-content;
}

li{
    margin-bottom: 1rem;
}

#second{
    background-color: darkgrey;
    background-color: seashell;
    background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


.projImg{
    width: 100%;
    object-fit: contain;
    border-radius: 1em;
}

#smith-container{
     background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(221,221,221,1) 0.1%, #bbb 90% );
}
#smithsonian{
    object-fit: contain;
    height: 200px;
    padding: 1em;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 80%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 7em;
}

#wakeup{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#third{
    background-color: white;
}

#fourth{
    background-color: antiquewhite;
}

.me{
    width: 100%;
}

#fifth{
    background-color: white;
}

.insta{
    
}

.page-footer{
    padding: 1rem;
    background-color: #eeaa66
}


