* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    margin:0;
}

body{
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

#topbar {
    position: fixed;
    z-index: 99;
    padding: 1.5em 10rem;
    font-family: 'Bad Script', cursive;
    font-size: 2rem;
    font-weight: normal;
    width: 100%;
    line-height: 1em;
    left: 0;
    top: 0;
}

#menu{
    float: right;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.close{
  float: right;
  width: 32px;
  height: 32px;
    cursor: pointer;
}

.close a:hover{
    text-decoration: none;
    color: inherit;
}

.close:before, .close:after {
  float: right;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #0666FF;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#first{
    width: 100hw;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    font-size: 3em;
}

#emoji{
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 
    50% { -moz-transform: rotate(20deg); } 
    100% { -moz-transform: rotate(0deg); } 
}
@-webkit-keyframes spin { 
    50% { -webkit-transform: rotate(20deg);}
    100% { -webkit-transform: rotate(20deg);} 
}
@keyframes spin {
    50% { -webkit-transform: rotate(20deg); transform:rotate(20deg); } 
    100% { -webkit-transform: rotate(0deg); transform:rotate(0deg); } 
}

#emoji:hover{
    -webkit-animation:spin .25s linear infinite;
    -moz-animation:spin .25s linear infinite;
    animation:spin .25s linear infinite;
}

.myVid{
    position: absolute;
    right: 2em;
    top: 50%;
    z-index: 0;
    transform: translateY(-50%);
     -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
}

.hover_img  {
    position: absolute;
    z-index: 1;
    margin: auto 10rem; 
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
   
}

.hover_img#top{
    z-index: 3;
}

#top > span > #text{
    opacity: 0;
}

#bottom{
     color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.menuoverlay{
    background: rgb(238,202,102);
background: linear-gradient(135deg, rgba(238,202,102,1) 0%, rgba(238,168,102,1) 66%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    padding: 2em;
    font-size: 3rem;
    font-weight: 700;
}

.menuoverlay ul{
    list-style-type: none;
    cursor: pointer;
    max-width: fit-content;
}

li{
    margin-bottom: 1rem;
}

#current{
    color: white;
    text-decoration: underline;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  top: 90%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #000 solid;
  border-bottom: 1px #000 solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.content{
    width: 80%;
    height: 100%;
    margin: 1em 10em;
}

.content p{
   font-size: 2em; 
}

.thumb{
    position: absolute;
    padding: 3em;
    max-height: 100%;
    z-index: 1;
}
.square{
    padding-bottom: 100%;
    overflow: hidden;
    position: relative;
}

.projHover{
    position: absolute;
    font-size: 2em;
    font-weight: 900;
    z-index: 0;
    width: 100%;
}

#sq4 > .projHover {
    top: 50%;
    z-index: 999;
}

#category{
    font-size: 0.5em;
    color: grey;
    font-weight: 400;
    margin: 0;
}

#sq1{
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}

#smithsonian{
    padding-left: 50%;
    height: 50%;
    top: 50%;
}



#about{
    margin-top: 7em;
}

.me{
    width: 100%;
}

#bio{
    padding: 0 3em;
}

.resumeBtn{
    border-style: solid;
    border-radius: 1em;
    border-color: #0666FF;
    color: #0666FF;
    max-width: 100px;
    margin: 2em 0;
    text-align: center;
}

.social{
    padding: 0;
}

.social li{
    display: inline-block;
    margin-right: 1em;
    text-align: center;
}

.page-footer{
    background-color: grey;
    color: white;
    left: 0;
}

.footer-copyright{
    padding:1em 1.5em;
}

#wal{
    margin-top: 7rem;
    font-size: .5rem;
}



@media only screen 
and (max-device-width: 600px)
 {
     #topbar{
         padding: 1rem;
     }
     .hover_img {
        position: absolute;
        margin: auto 1rem;
        font-size: 2rem;
        height: 200px;
        top: 50%;
        transform: translateY(-100px);
    }
    .menuoverlay{
        padding: 2rem 0;
         text-align: center;
     }
     .close{
         padding-right: 1em;
     }
     
     #wal{
         1rem=12px;
     }
}

